@model IEnumerable<ChitTalk.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
    <h1>ChitTalk <i class="fa-solid fa-mug-hot"></i></h1>
    <a asp-action="Create" class="mt-3 mb-4">
        <i class="fa-solid fa-circle-plus fa-2xl hover-beat"></i>
    </a>
</div>

<form asp-action="Search" method="get" class="search-form">
    <div class="input-group mb-3">
        <input type="text" class="form-control search-input" name="searchString" placeholder="Search for a blog post"
            aria-label="Search for a blog post" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary search-button" type="submit" id="button-addon2">Search</button>
    </div>
</form>

<div class="container flex-grow-1">
    <div class="row">
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <a asp-action="Details" asp-route-id="@item.Id" class="blog-post border-0 p-0 clickable-blog">
                        @if (!string.IsNullOrEmpty(item.ImagePath))
                        {
                            <img src="@item.ImagePath" alt="Blog Image" class="img-fluid mb-3 landscape-image" />
                        }
                        <p class="text-muted">@item.PublishedDate.ToString("MM.dd.yyyy")</p>
                        <h2 class="blog-title">@item.Title</h2>
                        <p class="blog-content">@item.Content</p>
                    </a>
                </div>
            }
        }
        else
        {
            <p class="no-posts-message">
                No posts found! Use the <i class="fa-solid fa-circle-plus"></i> button above to create one!
            </p>
        }
    </div>
</div>

@section Styles {
    <style>
        .blog-post {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 400px;
            height: 330px;
            overflow: hidden;
        }

        .landscape-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .blog-title {
            font-size: 1.5rem;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }

        .blog-content {
            font-size: 1rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 80%;
        }

        .blog-post:hover {
            background-color: #f9f9f9;
        }

        .clickable-blog {
            text-decoration: none;
            color: inherit;
        }

        .clickable-blog:hover {
            color: inherit;
            cursor: pointer;
        }

        .hover-beat:hover {
            animation: fa-beat 1s infinite;
        }

        .search-form {
            margin-bottom: 20px;
        }

        .search-input {
            border-radius: 20px 0 0 20px;
            border-right: none;
        }

        .search-button {
            border-radius: 0 20px 20px 0;
            border-left: none;
        }

        .input-group .form-control:focus {
            box-shadow: none;
        }

        .no-posts-message {
            text-align: center;
            padding: 350px;
            color: dimgray;
        }
    </style>
}